@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

:root {
    --default-color: #fff;
    --blue-color: linear-gradient(90deg, #138ECA 0%, #1380B5 100%);
    --black-color: #353535;
    --gray-color: #ECEDED;
    --dark-gray-color: #6C6C6C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-size: 62.5%;
    font-family: 'Gilroy Regular', sans-serif;
}

.container {
    max-width: 118rem;
    padding: 0 4rem;
    margin: 0 auto;
}

.variant-chooser__variants {
    display: flex;
    justify-content: space-between;
}

.variant-chooser__variant {
    padding: 1rem 1.7rem;
    background-color: var(--default-color);
    box-shadow: 0 0.4rem 1rem rgba(158, 152, 152, 0.13);
    border-radius: 0.8rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.variant-chooser label {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--black-color);
    margin-left: 1.5rem;
}

.choose-auto {
    background-image: url("../img/choose-auto-background.png");
    background-size: 100% 80%;
    background-repeat: no-repeat;
}

.choose-auto__title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3.2rem;
    padding-top: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
}

.choose-auto__auto {
    margin-top: 8rem;
    margin-left: 7.5rem;
}

.choose-auto__form {
    background: var(--gray-color);
    border-radius: 0.8rem;
    padding: 3.5rem 6.5rem;
    margin: 0 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.1fr;
}

.choose-auto__selects {
    display: flex;
    gap: 4rem;
}

.choose-auto__select {
    display: flex;
    flex-direction: column;
}

.choose-auto__select label {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-left: 1.5rem;
    color: var(--black-color);
}

.choose-auto__select select {
    border: none;
    outline: none;
    background-color: var(--default-color);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--dark-gray-color);
    border-radius: 0.2rem;
    padding: 0.7rem 1.5rem;
    opacity: 0.6;
    width: 24rem;
}

.choose-auto__select select::placeholder {
    color: var(--dark-gray-color);
}

.choose-auto__column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.choose-auto__button {
    border: none;
    background: var(--blue-color);
    padding: 1.3rem 0;
    border-radius: 0.7rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 144%;
    color: var(--default-color);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.credit {
    margin-top: 9.3rem;
    background-image: url("../img/credit__man.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

.credit__cards {
    padding: 6.5rem 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit__card {
    background-repeat: no-repeat;
    background-image: url("../img/credit__rectangle.png");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30.595rem;
    height: 13.1rem;
}

.card__num {
    position: absolute;
    top: -4rem;
    left: 1.5rem;
    font-size: 8rem;
    font-weight: 600;
    color: var(--default-color);
}

.card__txt {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--default-color);
    text-transform: uppercase;
}

.credit__title {
    margin-top: 4rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--default-color);
    text-align: center;
    margin-bottom: 1.4rem;
}

.credit__form {
    background: var(--gray-color);
    border-radius: 0.8rem;
    padding: 3.5rem 6.5rem;
    margin: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.credit__input input {
    color: var(--dark-gray-color);
    font-size: 1.4rem;
    padding: 1.45rem 1.9rem;
    width: 24rem;
    height: 4.5rem;
    border-radius: 0.8rem;
    background: #FEFEFE;
    border: 1px solid #F9F9F9;
    outline: none;
    box-shadow: 0px 4px 10px rgba(158, 152, 152, 0.13);
}

.credit__input label {
    font-size: 1.4rem;
    color: #484848;
}

.credit__button {
    color: var(--default-color);
    font-size: 1.8rem;
    padding: 1.7rem 4.85rem;
    background: linear-gradient(90deg, #138ECA 0%, #1380B5 100%);
    border-radius: 0.76rem;
    border: none;
}

.credit__data-process {
}

.data-process {
    margin-top: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    width: max-content;
    gap: 0.7rem;
}

.data-process label {
    font-size: 1.1rem;
    color: #929191;
}







